
:App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bgLogIn.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
  }
  